.feature {
    background-color: #2c2f33;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17rem;
    margin-bottom: 10rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    align-items: center;
    color: #00eeff;
}

.feature-text {
    max-width: 40%;
}

.feature-text h1 {
    font-size: 2.2rem;
}

.feature-text p {
    line-height: 1.75rem;
    font-size: 1.2rem;
}

.feature-image {
    all: initial;
    margin-top: -10%;
    margin-bottom: -10%;
}

.feature-image discord-messages {
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 20px;
    font-size: 1.3rem;
    width: 28rem;
}

.feature-image discord-messages big {
    font-size: 1.4rem;
}

.feature-image-left {
    margin-left: -25%;
    box-shadow: 3px 0px 10px black;
}

.feature-image-right {
    margin-right: -25%;
    box-shadow: -3px 0px 10px black;
}

.glow-box {
    transition: all 0.2s ease-in-out;
}

.feature-left.glow-box:hover {
    box-shadow: 5px 5px 10px #00eeff;
    transition: all 0.2s ease-in-out;
}

.feature-right.glow-box:hover {
    box-shadow: -5px 5px 10px #00eeff;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .feature {
        max-width: 90%;
        /* margin-top: 15rem;
        margin-bottom: 5rem; */
    }

    .feature-left {
        flex-direction: column;
    }

    .feature-right {
        flex-direction: column-reverse;
    }

    .feature-text {
        max-width: 80%;
    }

    .feature-image {
        all: initial;
        max-width: 90%;
        display: flex;
    }

    .feature-image discord-messages {
        margin-top: -40%;
        margin-bottom: 10%;
        box-shadow: 5px 5px 10px black;
    }

    .feature-left.glow-box:hover {
        box-shadow: 3px 3px 7px #00eeff;
        transition: all 0.2s ease-in-out;
    }
    
    .feature-right.glow-box:hover {
        box-shadow: -3px 3px 7px #00eeff;
        transition: all 0.2s ease-in-out;
    }
}