.navbar {
    /* overflow: hidden; */
    background-color: #2c2f33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-logo {
    padding-left: 1rem;
    color: #00eeff;
    display: flex;
    align-items: center;
    font-size:30px;
}

.nav-logo img {
    width: 18%;
}

.nav-menu {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.nav-item {
    margin-left: 3rem;
    text-align: center;
}

.nav-link {
    border: 4px solid transparent;
    border-radius: 4px;
    font-size: 1.4rem;
    color: #00eeff;
}

.nav-link:hover {
    background-color: #00eeff;
    color: #2c2f33;
    transition: all 0.3s ease-in-out;
}

.hamburger {
    margin-right: 1rem;
    display: none;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: aqua;
}

.login-btn {
    background-color: #2c2f33;
    border: none;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.login-btn img {
    width: 3.5rem;
    border-radius: 5rem;
    margin: 1rem 1rem;
}

.login-btn i {
    color: aliceblue;
    font-size: 2rem;
    margin-right: 1rem;
    transition: all 0.3s ease-in-out;
}

.login-dropdown a {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.login-btn:hover {
    background-color: #00eeff;
}

.login-btn:hover > i {
    color: #2c2f33;
}

.login-dropdown {
    background-color: #2c2f33;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-1.5rem, 1.5rem);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.login-dropdown.show-dropdown {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 768px) {
    .navbar{
        height: 75px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #2c2f33;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
}