* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-page{
    background: transparent;
    z-index: 5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}