<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Discord, Aperture, Discord Bot, Bot, Python, Aperture Bot">
    <meta name="description" content="Dashboard for Aperture - A Discord Bot">
    <meta name="author" content="Akshu Agarwal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/mainpage.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <title>Aperture</title>
</head>
<body>
    <noscript>You need to enable Javascript to run this app.</noscript>
    <header class="header">
        <nav class="navbar">
            <a href="#" class="nav-logo"><img src="../static/images/aperture.png" alt="Aperture">Aperture</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/invite" class="nav-link">Add Aperture to Server</a>
                </li>
                <li class="nav-item">
                    <a href="/support" class="nav-link">Join our Discord</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <section class="main-page">
        <div class="intro">
            <center>
                <h1>Aperture</h1>
                <br>
                <h4>A Multipurpose Discord Bot fulfilling all the needs of a Discord Server in a single Bot</h4>
                <br>
                <a href="/invite">
                    <button class="glow-on-hover" type="button">Invite Now</button>
                </a>
            </center>
        </div>
    </section>
</body>
<script src="../static/scripts/index.js"></script>
<script src="https://unpkg.com/wc-discord-message@^2.0.0/dist/wc-discord-message/wc-discord-message.js"></script>
</html>