$bgcolor: #2c2f33;
$txtcolor: #00eeff;
$navcolor: black;
$footercolor: black;
$boxcolor: black;

$extra-small-devices: "only screen and (max-width: 481px)";
$small-devices: "only screen and (min-width: 481px) and (max-width: 769px)";
$medium-devices: "only screen and (min-width: 769px) and (max-width: 1367px)";
$large-devices: "only screen and (min-width: 1367px) and (max-width: 1921px)";
$extra-large-devices: "only screen and (min-width: 1921px)";