@import './variables';

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bgcolor;
}

@media #{$extra-large-devices} {
    body {
        font-size: 22px;
    }
}

@media #{$large-devices} {
    body {
        font-size: 17px;
    }
}

@media #{$medium-devices} {
    body {
        font-size: 16px;
    }
}

@media #{$small-devices} {
    #footer {
        transition: transform 0.65s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #main {
        transition: transform 0.65s cubic-bezier(0.77,0.2,0.05,1.0);
        &.hamburger-activated {
            transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
            transform: translateY(250px);
            & ~ #footer {
                transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
                transform: translateY(250px);
            }
        }
    }
    body {
        font-size: 15px;
    }
}

@media #{$extra-small-devices} {
    #footer {
        transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #main {
        transition: transform 0.7s cubic-bezier(0.77,0.2,0.05,1.0);
        &.hamburger-activated {
            transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
            transform: translateY(250px);
            & ~ #footer {
                transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
                transform: translateY(250px);
            }
        }
    }
    body {
        font-size: 14px;
    }
}