{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Discord, Aperture, Discord Bot, Bot, Python, Aperture Bot">
    <meta name="description" content="Dashboard for Aperture - A Discord Bot">
    <meta name="author" content="Akshu Agarwal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/cookiedisabled.css' %}">
    <title>Aperture - Cookie Error</title>
</head>
<body>
    <header>
        <nav id="topnav">
            <div id="nav-left">
                <div class="nav-left-left">
                    <img src="../static/images/aperture.png" alt="Logo" srcset="" id="nav-left-logo">
                    <p>Aperture</p>
                </div>
            </div>
        </nav>
    </header>
    <p>
        Seems like your Browser has blocked setting Cookies!<br>
        We respect your Privacy, but you need to enable atleast the necessary cookies! You can still block third party cookies if you like to :)
    </p>
</body>
</html>